# CREATE DATA FOR THE DASHBOARD
---

In [1]:
import pandas as pd
import numpy as np
import datetime

## 1. Load Data 
---

In [2]:
data = pd.read_csv('clean_data.csv')

data['Date'] = pd.to_datetime(data['Order Date'])
data['Date'] = pd.to_datetime(data['Order Date']).dt.date
data['Date'] = pd.to_datetime(data['Date'])
data = data[data['Date'].dt.year == 2019]

data.drop(['lat', 'long', 'Day', 'Order ID', 'Month_num',
           'Hour', 'Order Date', 'Price Each', 'Quantity Ordered'], axis=1, inplace=True)


sales = data.groupby(['Date', 'City','Cat']).sum()
sales.reset_index((1,2), inplace=True)
sales = sales.rename(columns={'Sales':'sales_2019'})

In [3]:
sales

               City              Cat   sales_2019
Date
2019-01-01  Atlanta       Accessoire   693.059996
2019-01-01  Atlanta       Smartphone  3100.000000
2019-01-01  Atlanta    TV & Moniteur  1279.959976
2019-01-01   Austin       Accessoire   365.329996
2019-01-01   Austin       Smartphone   600.000000
...             ...              ...          ...
2019-12-31  Seattle       Accessoire  1690.389982
2019-12-31  Seattle  Machine à laver   600.000000
2019-12-31  Seattle       Ordinateur  7799.989990
2019-12-31  Seattle       Smartphone  1600.000000
2019-12-31  Seattle    TV & Moniteur  1249.969994

[13564 rows x 3 columns]

In [4]:
## Dashboard date
# 23th May 2020
dashboard_date = datetime.date(2019, 5, 23)

In [5]:
# Create variation around the number x
np.random.seed(42)
def random_rate(x, min_r=0.4, max_r=2):
    return x * np.random.uniform(min_r,max_r)

## 2. Create Data
---

### Sales in 2020

In [6]:
## define the target
# goal → global increase of 15 %
coef = 1.15
sales['sales_target'] = sales['sales_2019'] * coef

## sales in 2020, 95% < target < 125%
sales['sales_2020'] = 0
sales.loc[:dashboard_date, 'sales_2020'] = sales.loc[:dashboard_date,'sales_target'].apply(lambda x: random_rate(x))

In [7]:
sales

               City              Cat   sales_2019  sales_target   sales_2020
Date
2019-01-01  Atlanta       Accessoire   693.059996    797.018995   796.432541
2019-01-01  Atlanta       Smartphone  3100.000000   3565.000000  6848.874404
2019-01-01  Atlanta    TV & Moniteur  1279.959976   1471.953973  2312.719814
2019-01-01   Austin       Accessoire   365.329996    420.129496   570.474338
2019-01-01   Austin       Smartphone   600.000000    690.000000   448.244579
...             ...              ...          ...           ...          ...
2019-12-31  Seattle       Accessoire  1690.389982   1943.948479     0.000000
2019-12-31  Seattle  Machine à laver   600.000000    690.000000     0.000000
2019-12-31  Seattle       Ordinateur  7799.989990   8969.988489     0.000000
2019-12-31  Seattle       Smartphone  1600.000000   1840.000000     0.000000
2019-12-31  Seattle    TV & Moniteur  1249.969994   1437.465493     0.000000

[13564 rows x 5 columns]

### Profit in 2020

In [8]:
## define the target
# goal → 8% of sales_target
coef = 0.08
sales['profit_target'] = sales['sales_target'] * coef

## profit in 2020
sales['profit_2020'] = 0
sales.loc[:dashboard_date, 'profit_2020'] = sales.loc[:dashboard_date,'profit_target']\
                                                                .apply(lambda x: random_rate(x,0.4,2))

In [9]:
sales

,City,Cat,sales_2019,sales_target,sales_2020,profit_target,profit_2020
Date,,,,,,,
2019-01-01,Atlanta,Accessoire,693.059996,797.018995,796.432541,63.761520,72.469341
2019-01-01,Atlanta,Smartphone,3100.000000,3565.000000,6848.874404,285.200000,437.917227
2019-01-01,Atlanta,TV & Moniteur,1279.959976,1471.953973,2312.719814,117.756318,232.443733
2019-01-01,Austin,Accessoire,365.329996,420.129496,570.474338,33.610360,16.142402
2019-01-01,Austin,Smartphone,600.000000,690.000000,448.244579,55.200000,30.620064
...,...,...,...,...,...,...,...
2019-12-31,Seattle,Accessoire,1690.389982,1943.948479,0.000000,155.515878,0.000000
2019-12-31,Seattle,Machine à laver,600.000000,690.000000,0.000000,55.200000,0.000000
2019-12-31,Seattle,Ordinateur,7799.989990,8969.988489,0.000000,717.599079,0.000000
2019-12-31,Seattle,Smartphone,1600.000000,1840.000000,0.000000,147.200000,0.000000
2019-12-31,Seattle,TV & Moniteur,1249.969994,1437.465493,0.000000,114.997239,0.000000

## 3. Save
---

In [54]:
sales.to_csv('sales_summary.csv')